h2.section_title {
	border-bottom: 1px solid #ddd;
    background: url(../images/img001.jpg) no-repeat;
    background-position: 10px 2px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #333;
}

h2.section_title.noborder {
    border-bottom: none;
}

.table {
	margin-bottom: 10px;
	width: 100%;
	margin-top: 10px;
	border-collapse: collapse;
	color: #666;
}

.table, .table td, .table th {
	border: 1px solid #ddd;
}

table.setthbg th {
	border-bottom-width: 1px !important;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background: url(../images/img002.jpg) repeat-x;
	background-color: #F1F1F1;
}

table.table-vm tr th, table.table-vm tr td {
	vertical-align: middle;
}

.titleBG th {
	background-color: #FFCCFF;
	text-align: center;
}

.jqTransformInputInner div input {
	padding: 0px;
}

.zebraEven {
	background-color: #f1f1f1;
}

.dataContainer table {
	font-size: 13px;
}

.w100 {
	width: 100px;
}

.containerCust {
    width: 800px !important;
    /*position: relative;*/
    
    padding-left: 0px;
    padding-right: 0px;
}
